body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 241, 232);
    color: #ffffff;
    text-align: center;
}

.horiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}