body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(149, 226, 231);
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.horiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.navbar{
    background-color: rgb(145, 218, 223);
    width: calc(100% - 3rem);
    margin: 0;
    padding: 1.5rem;
    gap: 2rem;
}

.navbar button {
    background-color: rgb(149, 226, 231);
    padding: 0.75rem 1.25rem;
    font-size: x-large;
    color: #fff;
    border-radius: 1rem;
    border: 2px solid #fff;
}