body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(149, 226, 231);
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.horiz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

nav{
    background-color: rgb(145, 218, 223);
    width: calc(100% - 3rem);
    margin: 0;
    padding: 1.5rem;
    gap: 2rem;
}

nav button {
    background-color: rgb(149, 226, 231);
    padding: 0.75rem 1.25rem;
    font-size: x-large;
    color: #fff;
    border-radius: 1rem;
    border: 2px solid #fff;
}

.snowcontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

.snow {
    position: absolute;
    background-color: white;
    opacity: 0.7;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    animation: fall 15s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-5vh) translateX(0vh)
    }
    30%{
        opacity: 1;
    }
    100% {
        transform: translateY(105vh) translateX(20vh);
    }
}

.snow:nth-child(2){
    left: 10%;
    animation-duration: 12s;
}

.snow:nth-child(3){
    left: 40%;
    animation-duration: 17s;
}

.signtext {
    font-family: "Crete Round", serif;
    color: #fdb;
    border: none;
    position: absolute;
    font-size: 1.5rem;
    width: 14rem;
    height: 2.7rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    left: 40.7%;
}

.signtext:nth-child(2){
    top: 45%;
}

.signtext:nth-child(3){
    top: 53%;
}

.signtext:nth-child(4) {
    top: 61%;
}